html {
    font-family: Arial, Helvetica, sans-serif;
}

#generator-canvas {
    width: 800px;
    height: 500px;
    background-color: #ccc;
}

.generator-output {
    border: 1px solid #aaa;
    width: 800px;
    height: 200px;
    margin-top: 1rem;
    box-sizing: border-box;
    overflow-y: scroll;
}